h2m/
miniPaint/
finetuneas/
GIT.RAWify/
url-encoder/
sreadium/
pdf.js/
reference/
altium_js/
calcutext/
cheatsheet-generator/
clcalc/
codi.link/
Drawflow/
Editor/
epub-manga-creator/
ePubViewer/
excalidraw/
excalith-start-page/
favycon/
flowchart-fun/
FocusTide/
guitar-tabs-editor/
hot-chain-svg/
image-editor/
js-image-carver/
localpdfmerger/
lookscanned.io/
lrc_editor/
MangaRepack/
markdownlint/
mermaid-live-editor/
notecalc3/
notepad-calculator/
ordered-dither-maker/
pdf-duplex-scan/
pdf-margins/
pdfme-playground/
potluck/
programmingfonts/
qr-designer/
quiver/
reaflow/
regexr/
reminiflux/
reportbro-designer/
satori/
sketch-to-lineart/
snippet-box/
svg-path-editor/
svgedit/
svgomg/
tab-editor/
tikzcd-editor/
visionmagic/
vtracer/
woah/
vivliostyle-viewer-latest/
vivliostyle-viewer/
texthooker/
kiwix-js-pwa/
tldraw/
gifsicle-wasm-browser/
recoded/
diceRoller/
earlume/
noisecraft/
lyrics-poster/
flatdraw/
gifconverter/
video-gif-web-converter/
cnvrt/
manga-image-translator/
retro-assembly/
etytree/
jsetymology/
dgmjs/
quasar-ascii-silhouettify/
signature_pad/

# TBD

mpv-shelf/
teable/

# Cache

pm2-webui/
thorium-reader/
readium-js-viewer/
legumes/
CyberChef/
maybe/
plane/
JRNL/
prettygraph/
textograph-web/
ankiCardCreator/
Anki/

# Anki
AnkiDojo/
Anki2Notes/
Anki-helper/
PitchHTML/
